{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 3 versions", "not ie < 11"]
      },
      "modules": false,
      "useBuiltIns": true
    }],
    "react"
  ],
  "plugins": [
      "transform-class-properties",
      "transform-object-rest-spread",
      "transform-es2015-classes",
      "react-hot-loader/babel"
  ]
}