{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 3 versions", "not ie < 11"]
      },
      "loose": true,
      "useBuiltIns": true
    }],
    "react"
  ],
  "plugins": [
      "transform-class-properties",
      "transform-object-rest-spread"
  ]
}