* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
}

:root {
    --primary-color: #463DB0;
    --accent-color: #CC337C;
}

h1, h2, h3, h4, h5, a {
    font-family: "Source Code Pro", monospace;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 16px;
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
    padding: 16px;
    background: linear-gradient(-65deg, var(--primary-color), var(--accent-color));
}

@keyframes hover-bounce {
    from {
        transform: translateY(2%);
    }
    to {
        transform: translateY(-2%);
    }
}

.main-header__img {
    width: 30%;
    height: auto;
    animation: hover-bounce 700ms ease-in-out infinite alternate;
}

.main-header__title {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
}

@media (min-width: 600px) {
    .main-header__img {
        width: 25%;
    }
    .main-header__title {
        font-size: 3rem;
    }
    .main-header__desc {
        font-size: 2rem;
    }
}

@media (min-width: 800px) {
    .main-header {
        height: 85vh;
    }
    .main-header__img {
        width: 20%;
    }
}

@media (min-width: 1000px) {
    .main-header__img {
        width: 15%;
    }
}

.main-header__desc {
    color: #EEE;
    font-size: 1.1rem;
    text-align: center;
}

.main-header__link {
    color: #FFF;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.vertical-flex {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.example-image {
    flex: auto;
    width: 50%;
    height: auto;
}

.example-image2 {
    width: 100%;
    height: auto;
}

.example-container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.example {
    --max-height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4);
}

.example__code {
    width: 50%;
    max-height: var(--max-height);
    overflow: scroll;
    padding: 8px;
    font-family: "Source Code Pro", monospace;
    font-size: 0.875em;
}

.example__display {
    width: 50%;
    height: 100%;
    max-height: var(--max-height);
    padding: 8px;
    overflow: scroll;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    margin-top: 16px;
    color: #FFF;
    background: linear-gradient(-65deg, var(--primary-color), var(--accent-color));
}

.footer a {
    color: #FFF;
}
